
.container{

   
    height: 690px;
    width:620px;
    background-color: white;
    font-family: Plus Jakarta Sans;
    padding:0 20px;
    display: flex;
    flex-direction: column;
   
    border-radius: 16px;
    header{
        height:70px;
        display: flex;
        align-items: center;
        max-width: 100%;
        
       
h1{
            font-size: 20px;
            
    font-weight: 800;
        }
        .unread-count{
            height:24px;
            width:30px;
            background-color:hsl(225, 89%, 26%);
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            border-radius: 5px;
            margin-left: 16px;
            padding-bottom: 3px;
            padding-top: 1px;
        }
        .btn-mark-read{
            all:unset;
            margin-left: auto;
            color:hsl(219, 12%, 42%);
            font-size:14px;
            &:hover,&:focus{
                color:hsl(219, 85%, 26%);
                cursor:pointer;
            }

            
        }
    }
    .notifications-container{
        display: grid;
        height:712px;
        gap: 8px;
        
    .notification{
        
      min-height: 0;
      max-width: 100%;
      padding:10px 15px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        font-size: 14px;
        
        .notification-content{
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            .notification-created-at{
                font-size: 14px;
                font-weight:500;
                color:hsl(219, 14%, 63%);
            }
        .notification-top{
            
            
           // white-space: nowrap;
            margin: 0;
           line-height: 1.2rem;
            .action,.text-target{
               margin-left: 5px;
            }
            .name{
                font-weight: 800;
            }
            .action{
                
                color:hsl(219, 12%, 42%);
            }
            .text-target{
                font-weight: 800;

                color:hsl(219, 12%, 42%);
                white-space: normal;
                &.target-highlight{
                color:hsl(219, 85%, 26%);
                }
                
            }
            .text-target,.name{
                &:hover{
                    cursor: pointer;

                color:hsl(219, 85%, 26%);
                }

            }
        }
        p{
            width: 100%;
        }
    }
        &.unread{
            background-color:hsl(210, 60%, 98%);
            .notification-top{
            .unread-mark{
                height:10px;
                aspect-ratio: 1;
                margin-left: 3px;
                
            }
}
        }
        &.has-message{
            grid-row: span 3;
            padding:0 15px;
            margin: 10px 0;
            .image{
                margin-bottom: auto;
                margin-top: 5px;
                
            }
            .message{
                border: 1px solid lightgray;
                padding:15px;
                margin: 0;

                margin-right: 15px;
                margin-top: 8px;
                margin-bottom: 12px;
                color:hsl(219, 24%, 43%);
                border-radius: 4px;
                &:hover{background-color:hsl(210, 68%, 94%);
                    cursor: pointer;

                border: 1px solid transparent;
                }
               
            }
        }
        .image{
            height:40px;
            aspect-ratio: 1;
        }
        .preview-image{
            height:42px;
            aspect-ratio: 1;
            margin-left: auto;
            border-radius: 5px;
            padding: 2px;
            &:hover{
                outline:1px solid hsl(226, 27%, 82%);
                cursor: pointer;
            }
        }
    }
}
}
@media (max-width:700px) {
    .container{
        width: 90%;
       
    }
    
}
@media (max-width:500px) {
    .container{
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-sizing: content-box;
       // padding:0px 15px 30px 15px ;
       padding:0;
       padding-top: 15px;
       padding-bottom: 30px;
        align-items: center;
        header{
            max-width: 95%;
            width:95%;
            h1{
            font-size: 18px;
}
.unread-count{
    margin-left: 10px;
}
        }
        .notifications-container{
            height:calc(100% - 70px);
            .notification{
                justify-self: center;
                max-width: 95%;
                width: 95%;
                font-size: 14px;
                .notification-top{
                    .name{
                        white-space: nowrap;
                    }
                }
                .image{
                    height:35px;
                    margin-bottom: auto;
                    margin-top: 5px;
                }
                .notification-created-at{
                    font-size: 12px;
                }
                .preview-image{
                    height:40px;
                    margin-bottom: auto;
                    margin-left: 50px;
                }
            }

        }
       
    }
    
}
footer{
    position: absolute;
   // width: 50%;
    bottom: 10px;
    left: 50%;
    translate: -50%;
    font-style: 10px;
    opacity: 0.5;
    font-family: Plus Jakarta Sans;
}